/* main */

@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: set-text-color($primary-color);

  &.lg-heading {
    font-size: 6rem;

    &.front-page {
      color: set-text-color($primary-color-dark);
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);

    &.front-page {
      color: set-text-color($primary-color-dark);
    }
  }
}

.top {
  margin-top: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.logo-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "descriptionimage description description"
    "symbol1 symbol2 symbol3";
  grid-template-columns: repeat(3, 1fr);

  .description-image {
    grid-area: descriptionimage;
    margin: auto;
    border-radius: 50%;
    //border: $secondary-color 3px solid;
  }

  .description {
    grid-area: description;
    font-size: 1rem;
  }

  .symbol-1 {
    grid-area: symbol1;
  }

  .symbol-2 {
    grid-area: symbol2;
  }

  .symbol-3 {
    grid-area: symbol3;
  }

  .symbol {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.picture-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "descriptionimage description";
  grid-template-columns: repeat(2, 1fr);

  .description-image {
    grid-area: descriptionimage;
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .description {
    grid-area: description;
    font-size: 1rem;
    width: auto;
  }
}

// Pictures/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;

    &:hover {
      //opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
        0 12px 40px 0 rgba(0, 0, 0, 0.38);
    }
  }
}

// Video Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

//Parallax Scrolling

.bgimg-2,
.center-image {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}
.center-image1 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550138/EPortfolio/20170718_114711.jpg");
}
.center-image2 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550203/EPortfolio/IMG_1747.jpg");
  min-height: 450px;
}
.center-image3 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550221/EPortfolio/IMG_1764.jpg");
  min-height: 450px;
}
.center-image4 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550094/EPortfolio/IMG_3105.jpg");
  min-height: 450px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.border.image-title {
  background-color: transparent;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.top-dialog {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 25px 40px;
  text-align: justify;
}

.top-dialog h3 {
  text-align: center;
}

.center-dialog {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/* Turn off parallax for mobile devices */
@media only screen and (max-device-width: 1024px) {
  .top-image,
  .bgimg-2,
  .center-image {
    background-attachment: scroll;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: $primary-color-dark; //darken($primary-color, 10);
  color: set-text-color($primary-color-dark);
  height: 60px;
}

@import "mobile";
