/* main */
/* _config */
/* _menu */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #ededed;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #FAFAFA;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .logo {
      width: 250px;
      height: 250px;
      background: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1543744244/EPortfolio/Logo/cb9yb-rdvcl-007.ico");
      border-radius: 50%; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #009966; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #009966; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #FAFAFA;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(https://res.cloudinary.com/dg3efn0n8/image/upload/v1542558200/EPortfolio/IMG_8859_-_Copy2.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(250, 250, 250, 0); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: #000; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
    h1.lg-heading.front-page,
    h2.lg-heading.front-page,
    h3.lg-heading.front-page {
      color: #fff; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(255, 255, 255, 0.5); }
    h1.sm-heading.front-page,
    h2.sm-heading.front-page,
    h3.sm-heading.front-page {
      color: #fff; }

.top {
  margin-top: 2rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #009966; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #009966;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.logo-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'descriptionimage description description' 'symbol1 symbol2 symbol3';
  grid-template-columns: repeat(3, 1fr); }
  .logo-info .description-image {
    grid-area: descriptionimage;
    margin: auto;
    border-radius: 50%; }
  .logo-info .description {
    grid-area: description;
    font-size: 1rem; }
  .logo-info .symbol-1 {
    grid-area: symbol1; }
  .logo-info .symbol-2 {
    grid-area: symbol2; }
  .logo-info .symbol-3 {
    grid-area: symbol3; }
  .logo-info .symbol {
    background: white;
    padding: 0.5rem;
    border-bottom: #009966 5px solid; }

.picture-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'descriptionimage description';
  grid-template-columns: repeat(2, 1fr); }
  .picture-info .description-image {
    grid-area: descriptionimage;
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .picture-info .description {
    grid-area: description;
    font-size: 1rem;
    width: auto; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%; }
    .projects img:hover {
      border-color: #009966;
      transition: all 0.5s ease-out;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38); }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #009966;
      color: #fff; }
      .boxes div:hover span {
        color: #fff; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #009966;
    color: #fff; }

.btn-dark {
  background: #7b7b7b;
  color: #fff; }

.btn-light {
  background: white;
  color: #333; }

.bgimg-2,
.center-image {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px; }

.center-image1 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550138/EPortfolio/20170718_114711.jpg"); }

.center-image2 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550203/EPortfolio/IMG_1747.jpg");
  min-height: 450px; }

.center-image3 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550221/EPortfolio/IMG_1764.jpg");
  min-height: 450px; }

.center-image4 {
  background-image: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1542550094/EPortfolio/IMG_3105.jpg");
  min-height: 450px; }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; }

.caption span.border.image-title {
  background-color: transparent;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; }

.top-dialog {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 25px 40px;
  text-align: justify; }

.top-dialog h3 {
  text-align: center; }

.center-dialog {
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify; }

/* Turn off parallax for mobile devices */
@media only screen and (max-device-width: 1024px) {
  .top-image,
  .bgimg-2,
  .center-image {
    background-attachment: scroll; } }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #37474f;
  color: #fff;
  height: 60px; }

/* _mobile */
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .logo {
      background: url("https://res.cloudinary.com/dg3efn0n8/image/upload/v1543744245/EPortfolio/Logo/cb9yb-rdvcl-006.ico");
      width: 128px;
      height: 128px; }
  .logo-info {
    grid-template-areas: 'descriptionimage' 'description' 'symbol1' 'symbol2' 'symbol3';
    grid-template-columns: 1fr; }
  .picture-info {
    grid-template-areas: 'descriptionimage' 'description';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 4rem; }
  .projects {
    grid-template-columns: 1fr; } }
